.App {
  text-align: center;
}

/*TitleScreen*/
#main-div {
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  height: 100vh;
  width: 100%;
}

#main-title {
  font-size: 72px;
  font-weight: 300;
  padding: 35vh 0 5px;
}

/*InitialInfo*/
#initial-box {
  align-items: center;
  background-color: rgba(127, 127, 127, 0.5);
  border-radius: 15px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 27vh auto;
  text-align: center;
  width: 50%;
}

.initial-box-text {
  margin: 20px auto 10px;
  font-weight: 300;
  width: 80%;
}

input {
  border: none;
  margin: 5px;
  text-align: center;
  width: 80%;
}

input[type='submit'] {
  padding: 5px;
  margin-bottom: 35px;
  transition-duration: 0.1s;
}

input[type='submit']:hover {
  background-color: #333333;
  color: rgb(127, 127, 127);
  transition-duration: 0.1s;
}

input[type='text'] {
  padding: 5px 0;
}

.initial-p {
  font-size: 12px;
  margin: 5px auto 0;
  font-weight: 300;
  width: 80%;
}

.initial-p-link {
  color: #FFFFFF;
  margin-bottom: 5px;
}

.initial-info-error {
  align-items: center;
  background-color: rgba(127, 127, 127, 0.5);
  border-radius: 15px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 27vh auto;
  text-align: center;
  width: 50%;
}

/*Main*/
#main {
  display: inline-block;
}

#main-left {
  width: 551;
}

#main-right {

}

/*LocationAsk Card*/

.ask-location-container {
  border-radius: 8px;
  color: #FFFFFF;
  position: absolute;
  padding-bottom: 20px;
  bottom: 40vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  /*height: 20vh;*/
  width: 30vw;
  text-align: center;
  background-color: rgba(50, 50, 50, 0.8);
  z-index: 2;
}

.ask-location-edit-gig {
  left: 0;
  bottom: 20
}

.ask-location-text {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 15px;
}

.ask-location-exit {
  border: none;
  border-radius: 10px;
  position: absolute;
  right: 0;
  vertical-align: top;
}

.ask-location-option-text {
  margin: 0 auto 10px;
  font-size: 12px;
  text-align: center;
  width: 80%;
}


/*HeaderCard*/
.header-card {
  background-color: rgba(50, 50, 50, 0.6);
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 2vw;
  width: 41vw;
}

.header-card-text {
  color: #FFFFFF;
  font-weight: 300;
  margin: 0 auto;
  padding: 15px 1vw 5px 3vw;
}

/*GigList*/
#giglist {
  width: 551px;
}

/*GigCard*/

.gig-card-overview {
  display: inline-block;
}

.gig-card {
  color: #000000;
  background-color: rgba(200, 200, 200, 0.9);
  display: flex;
  height: 50px;
  justify-content: space-around;
  vertical-align: middle;
  width: 48vw;
}

.gig-card:hover {
  color: #FFFFFF;
  background-color: rgba(50, 50, 50, 0.6);
}

.gig-card-text {
  /*color: #000000;*/
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  height: 10px;
  padding: 15px 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 9vw;
}

.gig-card-number {
  /*color: #000000;*/
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  padding: 15px 0 10px 30px;
  text-overflow: ellipsis;
  width: 40px;
}

.gig-card-delete {
  background-color: rgba(78, 56, 45, 1);
  color: #FFFFFF;
  float: right;
  margin-top: -50px;
  height: 50px;
  width: 1vw;
  z-index: 3;
  transition-duration: 0.2s;
}

.gig-card-delete:hover {
  background-color: rgba(78, 56, 45, 0.75);
  padding-left: 1vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition-duration: 0.2s;
}

.gig-card-delete-text {
  margin: 0 auto;
  width: 5px;
  word-wrap: break-word;
  line-height: 8px;
  font-size: 8px;
  font-weight: 300;
}

/*GigCard ask to delete*/
.gig-card-ask-delete {
  background-color: rgba(100, 100, 100, 0.9);
  border-radius: 10px;
  height: 180px;
  left: 50%;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  z-index: 3;
}

.gig-card-ask-delete-text {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: #FFFFFF;
  margin: 40px auto 20px;
}

.gig-card-ask-delete-buttons {
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
}

.gig-delete-actual-buttons {
  color: #FFFFFF;
  background-color: rgba(50, 50, 50, 0.6);
  border: 0;
  font-size: 14px;
  padding: 0 1vw;
}

.gig-delete-actual-buttons:hover {
  color: #333333;
  background-color: rgba(250, 250, 250, 0.6);
}

/*AddGig button*/
#add-gig-container {
  background-color: rgba(50, 50, 50, 0.6);
  border-bottom-right-radius: 15px;
  /*border-top: 1px rgba(50, 50, 50, 0.6) solid;*/
  border-bottom: 1px rgba(200, 200, 200, 0.6) solid;
  border-right: 1px rgba(200, 200, 200, 0.6) solid;
  color: #FFFFFF;
  height: 30px;
  margin: 0;
  width: 100px;
}

#add-gig-container:hover {
  color: #000000;
  background-color: rgba(200, 200, 200, 0.9);
}

.add-gig {
  margin: 0;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 300;
}

/*Pop-up AddGigInfo*/
.add-gig-info {
  text-align: center;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
  z-index: 2;
  background-color: rgba(100, 100, 100, 0.9);
  color: black;
  padding-bottom: 20px;
}

.add-gig-info-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.add-gig-info-exit {
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 0;
  vertical-align: top;
}

.add-gig-info-title {
  color: #FFFFFF;
  margin: 15px auto 0;
  font-weight: 300;
  font-size: 24px;
}

.add-gig-info-input {
  border: none;
  margin: 5px;
  text-align: center;
  width: 80%;
}

.add-gig-info-location {
  margin: 15px auto 0;
}

.add-gig-info-venue {
  margin: 20px auto 0;
}

.add-gig-info-notes {
  height: 40%;
  margin: 20px auto 0;
  text-align: left;
}

.add-gig-info-save {
  margin: 20px auto 10px;
}

/*Pop up EditGigInfo*/
.edit-gig-info {
  text-align: center;
  border-radius: 8px;
  position: absolute;
  top: -11vh;
  left: 0;
  transform: translate(-50%, -50%);
  height: 48vh;
  width: 48vw;
  z-index: 2;
  background-color: rgba(100, 100, 100, 0.9);
  color: black;
  padding-bottom: 20px;
}

.edit-gig-info-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.edit-gig-info-exit {
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 0;
  vertical-align: top;
}

.edit-gig-info-title {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  margin: 15px auto 0;
}

.edit-gig-info-input {
  border: none;
  margin: 5px;
  text-align: center;
  width: 80%;
}

.edit-gig-info-order-container {
  padding: 0  10%;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.edit-gig-info-order-text {
  color: #FFFFFF;
  height: 12px;
  margin: 23px 10px 0 10px;
  padding-left: 30px;
}

.edit-gig-info-order {
  height: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  width: 30%;
}

.edit-gig-info-location {
  margin: 15px auto 0;
}

.edit-gig-info-venue {
  margin: 20px auto 0;
}

.edit-gig-info-notes {
  height: 40%;
  margin: 20px auto 0;
  text-align: left;
}

.edit-gig-info-save {
  margin: 20px auto 10px;
}


/*Totals*/

#totals {
  font-weight: 300;
  position: absolute;
  bottom: 0;
  right: 0;
}

.totals-labels {
  color: #FFFFFF;
  background-color: rgba(78, 56, 46, 0.75);
  padding: 5px 0;
  display: flex;
  margin: 0;
  vertical-align: middle;
  width: 50vw;
}

.total-label {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  width: 10vw;
  margin: 0;
}

.totals-labels-print {
  padding-right: 1vw;
}

.totals-card {
  background-color: rgba(200, 200, 200, 0.9);
  display: flex;
  /*justify-content: space-between;*/
  vertical-align: middle;
  width: 50vw;
}

.total {
  color: #000000;
  padding: 0 3vw;
  font-size: 14px;
  font-weight: 300;
  width: 10vw;
  margin: 0;
  text-align: center;
}

.totals-card-mpg {
  margin-top: 1vh;
}

.totals-card-mpg:hover {
  background-color: rgba(78, 56, 46, 0.75);
  color: #FFFFFF;
}

.totals-card-print {
  background-color: rgba(78, 56, 46, 0.75);
}

.totals-card-distance {
  padding-left: 10px;
  font-size: 12px;
}

.totals-card-dates {
  margin-top: 1vh;
}

.totals-card-cost {
  margin-top: 1vh;
}

.totals-card-cost-blank {
  font-size: 10px;
  margin: 0;
  padding: 0;
  width: 40px;
}

#totals-calculate-again {
  background-color: rgba(78, 56, 46, 0.75);
  bottom: 0;
  /*border-left: 2px solid rgba(78, 56, 46, 0.9);
  border-top: 2px solid rgba(78, 56, 46, 0.9);*/
  border-top-left-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  height: 58px;
  /*margin-top: 10px;*/
  padding-top: 7px;
  overflow: scroll;
  position: absolute;
  right: 50vw;
  text-align: center;
  width: 10vw;
}

#totals-calculate-again:hover {
  background-color: rgba(200, 200, 200, 0.9);
  color: #333333;
}

#totals-calculate {
  background-color: rgba(200, 200, 200, 1);
  bottom: 0;
  /*border: 2px solid rgba(78, 56, 46, 0.75);*/
  /*border-top-left-radius: 10px;*/
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  height: 50px;
  /*margin-top: 10px;*/
  padding-top: 15px;
  overflow: scroll;
  position: absolute;
  right: 0;
  text-align: center;
  width: 50vw;
  z-index: 2;
}

#totals-calculate:hover {
  background-color: rgba(78, 56, 46, 1);
  color: #FFFFFF;
}

/*Change MPG card*/

.mpg-edit-container {
  border-radius: 8px;
  color: #FFFFFF;
  position: absolute;
  padding-bottom: 20px;
  bottom: 40vh;
  left: 0;
  transform: translate(-50%, -50%);
  height: 20vh;
  width: 20vw;
  text-align: center;
  background-color: rgba(100, 100, 100, 0.9);
  z-index: 2;
}

.mpg-edit-text {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 15px;
}

/*Notes*/

#note-card {
  /*background-color: rgba(240, 240, 240, 0.75);*/
  bottom: 100px;
  height: 23vh;
  margin: 0;
  position: absolute;
  right: 0;
  width: 50vw;
}

#notes-header {
  display: flex;
}

.note-list {
  background-color: rgba(78, 56, 46, 0.9);
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  height: 15px;
  margin: 0 auto;
  padding: 10px 0 15px 10px;
  width: 50vw;
}

#notes-editor {
  background-color: rgba(250, 250, 250, 0.8);
  height: 16vh;
  padding: 10px 1vw;
  width: 48vw;
}

.notes-location-color {
  color: #4285f4;
}

.note-button {
  color: #FFFFFF;
  background: rgba(78, 56, 46, 0.9);
  border: 0;
  font-size: 14px;
  padding: 0 1vw;
}

.note-button:hover {
  background: rgba(118, 96, 86, 0.9);
}

/*Map*/

#map {
  background-color: rgba(240, 240, 240, 0.75);
  height: 60vh;
  margin-top: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 50vw;
}

.containerElement {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #032459;
}

.mapElement {
  height: 100%;
  width: 100%;
}
